body {
    margin: 20px;
    /*
    Challenge:
    Find a web safe font you like, and add it 
    to your card.
    */
    font-family: 'Kanit', sans-serif;
    font-size: 19px;
}

h3, 
p, 
h4 {
    color: #eae0d5;    
}

h3:hover, 
p:hover, 
h4:hover {
    font-size: 23px;   
    transition: .3s;
    text-shadow: 1px 1px 5px black; 
}

.avatar {
    width: 130px;
    height: 130px;
    border-radius: 10px;
}

.avatar:hover {
    width: 150px;
    height: 150px;
    transition: .3s;
}

.card {
    display: flex;
    align-items: center;    
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #1b4332;
    color: #2b2839;
    border-bottom: 8px solid #081c15;
        
    /*
    Challenge:
    Find a color palette you like on Coolors.co
    and use it in your business card. */
    
} 

/*
Stretch goals:
Find other ways you can personalize 
the design of your business card, e.g.:
- change the border(s)
- add border radius
- shuffle the layout
- shadows        🤯
- hover effects  🤯🤯
- animations     🤯🤯🤯
*/

